NodeRed/rpi-remote-control.json
[
    {
        "id": "fd119ba71e28997e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "68222b15d24eb1ce",
        "type": "mqtt in",
        "z": "fd119ba71e28997e",
        "name": "",
        "topic": "hugo/expo/control",
        "qos": "2",
        "datatype": "auto",
        "broker": "1872392171b03823",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 120,
        "wires": [
            [
                "bf92e2f7f087c894",
                "4cbfe181027a94a1"
            ]
        ]
    },
    {
        "id": "bf92e2f7f087c894",
        "type": "debug",
        "z": "fd119ba71e28997e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 20,
        "wires": []
    },
    {
        "id": "4cbfe181027a94a1",
        "type": "switch",
        "z": "fd119ba71e28997e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 450,
        "y": 140,
        "wires": [
            [
                "8dfb90832c2c8871"
            ],
            [
                "e5a674a610835ebb"
            ],
            [
                "3bb44a2a1d58f171"
            ],
            [
                "4d788b435a42a048"
            ],
            [
                "d53bd76f85576db1"
            ],
            [
                "10f7f604f1f165a5"
            ]
        ]
    },
    {
        "id": "53b28675a133da43",
        "type": "comment",
        "z": "fd119ba71e28997e",
        "name": "reboot, status, check, play, kill, force kill",
        "info": "",
        "x": 550,
        "y": 80,
        "wires": []
    },
    {
        "id": "8a23d00a216229f7",
        "type": "exec",
        "z": "fd119ba71e28997e",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 890,
        "y": 120,
        "wires": [
            [
                "a9cba441885c6904",
                "295c523a5baec8b7",
                "fcda6c324cad8c0e"
            ],
            [
                "295c523a5baec8b7"
            ],
            [
                "295c523a5baec8b7"
            ]
        ]
    },
    {
        "id": "8dfb90832c2c8871",
        "type": "function",
        "z": "fd119ba71e28997e",
        "name": "0, reboot",
        "func": "msg.payload = \"sudo reboot\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 120,
        "wires": [
            [
                "8a23d00a216229f7"
            ]
        ]
    },
    {
        "id": "e5a674a610835ebb",
        "type": "function",
        "z": "fd119ba71e28997e",
        "name": "1, status",
        "func": "msg.payload = \"Online\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "a9cba441885c6904",
        "type": "mqtt out",
        "z": "fd119ba71e28997e",
        "name": "",
        "topic": "hugo/expo/res",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1872392171b03823",
        "x": 1200,
        "y": 120,
        "wires": []
    },
    {
        "id": "3bb44a2a1d58f171",
        "type": "function",
        "z": "fd119ba71e28997e",
        "name": "2, check",
        "func": "msg.payload = \"ps aux | grep vlc\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 200,
        "wires": [
            [
                "8a23d00a216229f7"
            ]
        ]
    },
    {
        "id": "4d788b435a42a048",
        "type": "function",
        "z": "fd119ba71e28997e",
        "name": "3, play",
        "func": "if (global.get (\"archivo\") == 0) {\n    msg.payload = \"vlc http://187.177.79.182:8080 --fullscreen --play-and-exit &\";\n    return msg;\n} else if (global.get (\"archivo\") == 2) {\n    msg.payload = \"vlc /home/pi/Downloads/reconnect.mp4 --fullscreen --loop &\";\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 240,
        "wires": [
            [
                "8a23d00a216229f7"
            ]
        ]
    },
    {
        "id": "d53bd76f85576db1",
        "type": "function",
        "z": "fd119ba71e28997e",
        "name": "4, kill secure",
        "func": "msg.payload = \"sudo kill -9 \" + global.get (\"process\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 280,
        "wires": [
            [
                "8a23d00a216229f7"
            ]
        ]
    },
    {
        "id": "295c523a5baec8b7",
        "type": "debug",
        "z": "fd119ba71e28997e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 80,
        "wires": []
    },
    {
        "id": "fcda6c324cad8c0e",
        "type": "function",
        "z": "fd119ba71e28997e",
        "name": "",
        "func": "var check= msg.payload[0] + msg.payload[1] + msg.payload[69];\nif (check == \"pih\") {\n    msg.payload = msg.payload[10] + msg.payload[11] + msg.payload[12] + msg.payload[13];\n    global.set (\"process\", msg.payload);\n    return msg;\n} else {\n    global.set (\"process\", \"recall\");\n    msg.payload = \"recall\";\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "10f7f604f1f165a5",
        "type": "function",
        "z": "fd119ba71e28997e",
        "name": "5, force kill",
        "func": "msg.payload = \"killall vlc\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 320,
        "wires": [
            [
                "8a23d00a216229f7"
            ]
        ]
    },
    {
        "id": "5b3e55944650a4c7",
        "type": "inject",
        "z": "fd119ba71e28997e",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "180",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "187.177.79.182",
        "payloadType": "str",
        "x": 190,
        "y": 480,
        "wires": [
            [
                "871e0bdd30278b9e"
            ]
        ]
    },
    {
        "id": "871e0bdd30278b9e",
        "type": "ping",
        "z": "fd119ba71e28997e",
        "protocol": "IPv4",
        "mode": "triggered",
        "name": "",
        "host": "",
        "timer": "20",
        "inputs": 1,
        "x": 450,
        "y": 480,
        "wires": [
            [
                "59313ed8dcef692b"
            ]
        ]
    },
    {
        "id": "7209ec92fc815a17",
        "type": "debug",
        "z": "fd119ba71e28997e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 440,
        "wires": []
    },
    {
        "id": "522b2f581163e79c",
        "type": "function",
        "z": "fd119ba71e28997e",
        "name": "if off, play",
        "func": "if (global.get (\"process\") == \"recall\") {\n    msg.payload = 3;\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 320,
        "wires": [
            [
                "4cbfe181027a94a1"
            ]
        ]
    },
    {
        "id": "4820eb20604ed196",
        "type": "delay",
        "z": "fd119ba71e28997e",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 160,
        "y": 260,
        "wires": [
            [
                "522b2f581163e79c"
            ]
        ]
    },
    {
        "id": "390221bea657350a",
        "type": "inject",
        "z": "fd119ba71e28997e",
        "name": "2, check - 2min",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "4cbfe181027a94a1",
                "4820eb20604ed196"
            ]
        ]
    },
    {
        "id": "59313ed8dcef692b",
        "type": "function",
        "z": "fd119ba71e28997e",
        "name": "",
        "func": "if (msg.payload > 0) {\n    if (global.get (\"trying\") == 1) {\n        global.set (\"archivo\", 0);\n        global.set (\"trying\", 0);\n        return msg;\n    }\n    global.set (\"archivo\", 0);\n} else if (global.get (\"archivo\") == 0) {\n    global.set (\"archivo\", 1);\n    global.set (\"trying\", 1);\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 480,
        "wires": [
            [
                "7209ec92fc815a17",
                "2f75b623c13166f9"
            ]
        ]
    },
    {
        "id": "2f75b623c13166f9",
        "type": "function",
        "z": "fd119ba71e28997e",
        "name": "5, force kill",
        "func": "if (global.get (\"archivo\") == 1) {\n    global.set (\"archivo\", 2);\n    msg.payload = \"killall vlc\";\n    return msg;\n} else if (global.get (\"archivo\") == 0) {\n    msg.payload = \"killall vlc\";\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 480,
        "wires": [
            [
                "b0df257b429f1539"
            ]
        ]
    },
    {
        "id": "b0df257b429f1539",
        "type": "exec",
        "z": "fd119ba71e28997e",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1170,
        "y": 480,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "e8c28b1d53c6aea2",
        "type": "function",
        "z": "fd119ba71e28997e",
        "name": "",
        "func": "",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nglobal.set (\"archivo\", 0);\nglobal.set (\"trying\", 0);\nglobal.set (\"process\", \"recall\");",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "1872392171b03823",
        "type": "mqtt-broker",
        "name": "",
        "broker": "187.177.79.182",
        "port": "1883",
        "clientid": "expo-3325",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]
